//mermaid.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.9bb440e6-5eaa-4ec6-aea8-48e9f13256ac/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@safebikepathsosdk:registry=https://mermaid.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.9bb440e6-5eaa-4ec6-aea8-48e9f13256ac/contents/release/npm/
